[Unit]
Description=gunicorn daemon for {{django_project_name}}
Requires={{django_project_name}}_gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=root
# Group=someuser
# another option for an even more restricted service is
# DynamicUser=yes
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/{{django_project_name}}/src/
ExecStart=/var/www/{{django_project_name}}/env/bin/gunicorn {{django_project_name}}.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target