[Unit]
Description=gunicorn socket for {{django_project_name}}

[Socket]
ListenStream=/run/{{django_project_name}}_gunicorn.sock
# Our service won't need permissions for the socket, since it
# inherits the file descriptor by socket activation
# only the nginx daemon will need access to the socket
SocketUser=www-data
# Optionally restrict the socket permissions even more.
# SocketMode=600

[Install]
WantedBy=sockets.target