server {
    listen 80;
    #server_name django_http_host;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias /var/www/{{django_project_name}}/src/static/;
    }

    location /media/ {
        alias /var/www/{{django_project_name}}/src/media/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/{{django_project_name}}_gunicorn.sock;
    }
}
